{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JSTS testbuild</title>
    {% block contentbg %}
    <style>
    body  {
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(248,249,249,1) 24%, rgba(167,180,187,1) 95%, rgba(210,216,217,1) 97%, rgba(205,216,221,1) 99%, rgba(228,228,235,1) 100%);
    }
    </style>
    {% endblock %}
  </head>

  <header>

  </header>
    <body>
    {% block content1 %}

    {% endblock %}
  </body>
</html>
